bold {
  font-weight: bold;
}

/* body {
  display: flex;
  justify-content: flex-end;
} */
.center-content {
  margin: 0 auto;
  width: 1000px;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-info > p {
  width: 300px;
  margin: auto 50px;
}

.skills-list {
  margin:0;
  padding: 0;

  list-style: none;
}

.skills-list > li {
  padding: 10px 5px;
}
